
table, th, td{
  border : 2px red;
  background-color : navy;
  color: light grey;
  font-size: medium;
  width: 200px;
  height:90px;
  
}
td{
  color: red;
  text-align: center;
  
}
body {
  background-color: grey;
   text-align: center;
}