
table, th, td{
  border : 2px red;
  background-color : 2d1060;
  font-size: medium;
  width: 200px;
  height:90px;
  
}
td{
  color: red;
  text-align: center;
  
}
body {
  background-color: grey;
   text-align: center;
}